@(id: String)
@page("We're Sorry...") {

    <h2>No Hometown or Location?</h2>
    
    <p>
    This application calculates the lowest-priced way to go see friends who
    have birthdays coming up soon.  However, to do that <em>you</em> have
    to have a location or a hometown registered with Facebook. If you have
    both, we'll use the location.
    </p>
    
    <p>You can set your hometown and location by editing your
    <A HREF="http://www.facebook.com/@id">Facebook Profile</A>. Most places
    in the world are already loaded into Facebook so you can connect your
    hownetown to others from the same place.</p>
}